node_modules/
dist/
public/
src/
.env
.git
.vscode
__pycache__/
*.pyc
datasets/
test_images/
data/
crop datas/
backend/models/*.pkl
backend/models/*.h5
backend/models/*.keras
backend/models/training_report/
*.pkl
*.h5
*.keras
